################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KarateChop
/KarateChop/bin/Debug/netcoreapp2.2
/KarateChop/obj
/KarateChop.Tests/bin/Debug/netcoreapp2.2
/KarateChop.Tests/obj
